form {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
}

form label, form button {
  font-weight: bold;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

#button-section {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
