<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmStand Products</title>
    <link rel="stylesheet" href="/products/_reset.css"> 
  </head>
  <body>
    <h1>FarmStand Products</h1>
    <section>
      <button>
        <a href="products">All Products</a>
      </button>
    </section>
    <!-- <script src=".js"></script> -->
  </body>
</html>
